			a{
				color: black;
				text-decoration: none; 
			}
			
			nav ul li a{
				text-transform: capitalize;
				font-size: 18px;
			}


			li{
				display: inline-block;
			}

			body{
				background: #efefef;
				font-family: arial, sans-serif;
			}

			h3 {
				text-transform: uppercase;
				letter-spacing: 2px;
			}